<div>
    <h2>Hard & Soft Skills</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="cols-12 col-sm-6 col-md-6 col-lg-6 col-xxl-4" *ngFor="let skill of skillList">
            <ul>
                <li>
                        <h3>{{skill.skill}}</h3>
                        <circle-progress
                        [percent]="skill.progress"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#793a80'"
                        [innerStrokeColor]="'#403353'"
                        [animation]="true"
                        [animationDuration]="300"
                        ></circle-progress>
                </li>
            </ul>
        </div>
    </div>
</div>