<div>
    <h2>Educación</h2>
</div>

<div class="container-fluid">

    <ul>
        <li *ngFor="let study of studyList">
            <div class="row">
                <div class="cols-12 col-sm-2  col-md-2  col-lg-2">
                    <img [src]="study.logoinst" alt="logo empresa" class="img-fluid" id="img-emp-logo">
                </div>
                <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
                    <h2>{{study.career}}</h2>
                    <div></div>
                    <h3>{{study.from}}</h3> <h3> - </h3> <h3>{{study.to}}</h3>
                    <p>{{study.studyInfo}}</p>
                </div>
            </div>
        </li>
    </ul>
    
    </div>