<div>
    <h2>Educación</h2>
</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2">
            <img src="../../../assets/logoinst.png" alt="logo instituto" class="img-fluid" id="img-inst-logo">
        </div>

        <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
            <ul>
                <li>
                    <h2>Estudio 1</h2>
                </li>

                <li>
                    <h3>(Desde)</h3> <h3> - </h3> <h3>(Hasta)</h3>
                </li>

                <li>
                    <h3> (</h3> <h3>(años)</h3><h3> años </h3> <h3>y </h3> <h3>(meses)</h3><h3> Meses</h3> <h3>)</h3>
                </li><br>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor obcaecati accusamus veritatis mollitia laborum ipsam, voluptates expedita architecto culpa iusto dolorem beatae quia ipsa placeat laudantium eaque velit quae recusandae.
                </p>
            </ul>
        </div>

        <div class="col-lg-2">
            <img src="../../../assets/logoinst.png" alt="logo instituto" class="img-fluid" id="img-inst-logo">
        </div>

        <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
            <ul>
                <li>
                    <h2>Estudio 2</h2>
                </li>

                <li>
                    <h3>(Desde)</h3> <h3> - </h3> <h3>(Hasta)</h3>
                </li>

                <li>
                    <h3> (</h3> <h3>(años)</h3><h3> años </h3> <h3>y </h3> <h3>(meses)</h3><h3> Meses</h3> <h3>)</h3>
                </li><br>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor obcaecati accusamus veritatis mollitia laborum ipsam, voluptates expedita architecto culpa iusto dolorem beatae quia ipsa placeat laudantium eaque velit quae recusandae.
                </p>
            </ul>
        </div>

        <div class="col-lg-2">
            <img src="../../../assets/logoinst.png" alt="logo instituto" class="img-fluid" id="img-inst-logo">
        </div>

        <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
            <ul>
                <li>
                    <h2>Estudio 3</h2>
                </li>

                <li>
                    <h3>(Desde)</h3> <h3> - </h3> <h3>(Hasta)</h3>
                </li>

                <li>
                    <h3> (</h3> <h3>(años)</h3><h3> años </h3> <h3>y </h3> <h3>(meses)</h3><h3> Meses</h3> <h3>)</h3>
                </li><br>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor obcaecati accusamus veritatis mollitia laborum ipsam, voluptates expedita architecto culpa iusto dolorem beatae quia ipsa placeat laudantium eaque velit quae recusandae.
                </p>
            </ul>
        </div>

    </div>
    
</div>