<div>

    <a [href]="socialData.githubLink"><img src="../../../assets/github.png" alt="github"></a>
    <a [href]="socialData.gmailLink"><img src="../../../assets/gmail.png" alt="gmail"></a>
    <a [href]="socialData.twitterLink"><img src="../../../assets/twitter-logo.png" alt="twitter"></a>
    <a [href]="socialData.facebookLink"><img src="../../../assets/facebook.png" alt="facebook"></a>
    <a [href]="socialData.instagramLink"><img src="../../../assets/instagram-logo.png" alt="instagram"></a>
    <a [href]="socialData.linkedinLink"><img src="../../../assets/linkedin-logo.png" alt="linkedin"></a>

</div>