div{
    background-color: #221c1a;
}

app-social{
    float: right;
    margin-top: -75px;
    margin-right: 130px;
}

app-button-login{
    float: right;
    margin-top: -74px;
    margin-right: 5px;
}

header{
    border: 5px solid;
    border-color: #141013;
}