div{
    background-color: #221c1a;
}

header{
    border: 5px solid;
    border-color: #141013;
    background-color: #221c1a;
}

div.col{
    align-self: center;
}


@media (min-width: 575px) {
    app-social{
        float: right;
    }
}

div.col-xs-12 , div.col-sm-2, div.col-md-2, div.col-lg-2{
    align-self: center;
}

.banner{
    width: 100%;
}

@media (max-width: 817px) {
    #logo-ap{
        width: 100px;
    }
}

.button-login {
    display: inline-block;
    background: #71413b;
    color: #dae0ea;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    ;
}