<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
               <img src="../../../assets/APLogo-20-20.png" alt="APLogo-20-20" class="img-fluid" id="logo-ap">
            </div>

            <div class="col">
                <app-social></app-social>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <button class="button-login">Login</button>
            </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
                <img src="../../../assets/banner.png" alt="banner" class="banner">
            </div>
        </div>
    </div>
</div>