<div>
    <h2>Experiencia</h2>
</div>

<div class="container-fluid">

<ul>
    <li *ngFor="let experience of experienceList">
        <div class="row">
            <div class="cols-12 col-sm-2  col-md-2  col-lg-2">
                <img [src]="experience.logoEmpr" alt="logo empresa" class="img-fluid" id="img-emp-logo">
            </div>
            <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
                <h2>{{experience.job}}</h2>
                <div></div>
                <h3>{{experience.business}}</h3>
                <div></div>
                <h3>{{experience.from}}</h3> <h3> - </h3> <h3>{{experience.to}}</h3>
                <h3> (</h3> <h3>{{experience.years}}</h3><h3> años </h3> <h3>y </h3> <h3>{{experience.months}}</h3><h3> Meses</h3> <h3>)</h3>
                <p>{{experience.jobInfo}}</p>
            </div>
        </div>
    </li>
</ul>

</div>