.row{
    background-color: #221c1a;
    padding: 20px;
}

div{
    background-color: #221c1a;
    align-items: center;
    padding: 5px;
}

#img-emp-logo{
    display: inline-block;
    background: #3b1725;
    margin: 5px;
    padding: 10px 10px;
}


@media (max-width: 991px) {
    #img-emp-logo{
        width: 200px;
    }
}

h2, h3{
    display: inline;
}

ul {
    list-style-type: none;
  }