<div>
    <h2>Experiencia</h2>
</div>

<div class="container-fluid">
    
    <div class="row">

        <div class="col-lg-2">
            <img src="../../../assets/logoempr.png" alt="logo empresa" class="img-fluid" id="img-emp-logo">
        </div>

        <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
            <ul>
                <li>
                    <h2>Trabajo 1</h2>
                    <h3>(Desde)</h3> <h3>-</h3> <h3>(Hasta)</h3> <h3>-</h3> <h3>(años)</h3><h3>años</h3> <h3>y</h3> <h3>(meses)</h3><h3>Meses</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor obcaecati accusamus veritatis mollitia laborum ipsam, voluptates expedita architecto culpa iusto dolorem beatae quia ipsa placeat laudantium eaque velit quae recusandae.
                </p>
            </ul>
        </div>
    
        <div class="col-lg-2">
            <img src="../../../assets/logoempr.png" alt="logo empresa" class="img-fluid" id="img-emp-logo">
        </div>

        <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
            <ul>
                <li>
                    <h2>Trabajo 1</h2> 
                    <h3>(Desde)</h3> <h3>-</h3> <h3>(Hasta)</h3> <h3>-</h3> <h3>(años)</h3><h3>años</h3> <h3>y</h3> <h3>(meses)</h3><h3>Meses</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor obcaecati accusamus veritatis mollitia laborum ipsam, voluptates expedita architecto culpa iusto dolorem beatae quia ipsa placeat laudantium eaque velit quae recusandae.
                </p>
            </ul>
        </div>
    
        <div class="col-lg-2">
            <img src="../../../assets/logoempr.png" alt="logo empresa" class="img-fluid" id="img-emp-logo">
        </div>

        <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
            <ul>
                <li>
                    <h2>Trabajo 1</h2> 
                    <h3>(Desde)</h3> <h3>-</h3> <h3>(Hasta)</h3> <h3>-</h3> <h3>(años)</h3><h3>años</h3> <h3>y</h3> <h3>(meses)</h3><h3>Meses</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor obcaecati accusamus veritatis mollitia laborum ipsam, voluptates expedita architecto culpa iusto dolorem beatae quia ipsa placeat laudantium eaque velit quae recusandae.
                </p>
            </ul>
        </div>
    
    </div>

</div>