<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2  col-lg-2">
            <img src="../../../assets/profile.png" alt="banner" class="img-fluid" id="profile">
        </div>

        <div class="col-xs-12 col-sm-2  col-md-2  col-lg-2">
            <h2>Nombre Apellido</h2>
            <p>Título</p>
        </div>
        <div class="col-xs-12 col-sm-8  col-md-8  col-lg-8">
            <h2>Presentación</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, laudantium incidunt beatae et porro 
                consequuntur quas assumenda cumque autem sed rerum recusandae, fugit perspiciatis explicabo accusantium
                earum nostrum. Natus, repudiandae.
            </p>
        </div>
    </div>
</div>