h1{
    color: #dae0ea;
}

h2{
    color: #dae0ea;
}

p{
    color: #dae0ea;
}

html{
    background-color: #221c1a;
}

/*FOTO DE PROFILE*/
#profile{
    display: inline-block;
    background: #71413b;
    color: #bb7547;
    padding: 10px 20px;
    margin: 5px;
    border: 5px solid;
    border-radius: 100%;
    border-color: #141013;
    width: 200px;
}