<div>
    <h2>Proyectos</h2>
</div>

<div class="container-fluid">

    <ul>
        <li *ngFor="let proyect of proyectList">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{proyect.proyectName}}</h2><div></div>
                    <h3>Fecha de realización: </h3> <h3>{{proyect.fecha}}</h3><div></div>
                    <p>{{proyect.proyectInfo}}</p>
                </div>
                <div class="col-sm-12">
                    <img [src]="proyect.logoProyect" alt="evidencia" class="img-fluid" id="img-evidence">
                </div>
            </div>
        </li>
    </ul>