<div>
    <h2>Proyectos</h2>
</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2">
            <img src="../../../assets/logoevi.png" alt="logo evidencia" class="img-fluid" id="img-inst-logo">
        </div>

        <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
            <ul>
                <li>
                    <h2>Proyecto 1</h2> 
                </li>

                <li>
                    <h3>Fecha de realización: </h3> <h3>(Fecha)</h3>
                </li>
                    
                <li>
                    <h3>Link del proyecto: </h3> <a href=""> <h3>(Link)</h3> </a>
                </li>

                <li><br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis est voluptates recusandae amet nihil corporis, suscipit quod aliquam iure sed alias? Quisquam accusamus beatae deserunt voluptatibus sed nesciunt culpa itaque.</p>
                </li>
            </ul>
        </div>

        <div class="row">

            <div class="col-lg-2">
                <img src="../../../assets/logoevi.png" alt="logo evidencia" class="img-fluid" id="img-inst-logo">
            </div>
    
            <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
                <ul>
                    <li>
                        <h2>Proyecto 2</h2> 
                    </li>
    
                    <li>
                        <h3>Fecha de realización: </h3> <h3>(Fecha)</h3>
                    </li>
                        
                    <li>
                        <h3>Link del proyecto: </h3> <a href=""> <h3>(Link)</h3> </a>
                    </li>
    
                    <li><br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis est voluptates recusandae amet nihil corporis, suscipit quod aliquam iure sed alias? Quisquam accusamus beatae deserunt voluptatibus sed nesciunt culpa itaque.</p>
                    </li>
                </ul>
            </div>

            
            <div class="row">

                <div class="col-lg-2">
                    <img src="../../../assets/logoevi.png" alt="logo evidencia" class="img-fluid" id="img-inst-logo">
                </div>
        
                <div class="cols-12 col-sm-10  col-md-10  col-lg-10">
                    <ul>
                        <li>
                            <h2>Proyecto 3</h2> 
                        </li>
        
                        <li>
                            <h3>Fecha de realización: </h3> <h3>(Fecha)</h3>
                        </li>
                            
                        <li>
                            <h3>Link del proyecto: </h3> <a href=""> <h3>(Link)</h3> </a>
                        </li>
        
                        <li><br>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis est voluptates recusandae amet nihil corporis, suscipit quod aliquam iure sed alias? Quisquam accusamus beatae deserunt voluptatibus sed nesciunt culpa itaque.</p>
                        </li>
                    </ul>
                </div>
        

    </div>
    
</div>